"Assignment_2/build"
*/.awcache
.idea
/idea
*/idea
idea
.vscode
node_modules
npm-debug.log
*/npm-debug.log
*/npm-debug.log.*
Assignment_2/build/*

Assignment_2/backend-build/backend-compiled-debug\.js\.map

Assignment_2/backend-build/backend-compiled-debug\.js

Assignment_2/backend-build/
