@import "../constants/text-constants";
.txt-body-1 {
  font-family: Roboto;
  font-weight: $txt-weight-body-1;
  font-size: $txt-size-body-1;
}
.txt-body-2 {
  font-family: Roboto;
  font-weight: $txt-weight-body-2;
  font-size: $txt-size-body-2;
}
.txt-display-1 {
  font-family: Roboto;
  font-weight: $txt-weight-display-1;
  font-size: $txt-size-display-1;
}
.txt-display-2 {
  font-family: Roboto;
  font-weight: $txt-weight-display-2;
  font-size: $txt-size-display-2;
}
.txt-display-3 {
  font-family: Roboto;
  font-weight: $txt-weight-display-3;
  font-size: $txt-size-display-3;
}
.txt-display-4 {
  font-family: Roboto;
  font-weight: $txt-weight-display-4;
  font-size: $txt-size-display-4;
}
.txt-button-english {
  font-size: $txt-size-button-english;
  font-weight: $txt-weight-button-english;
  text-transform: $txt-transform-button;
}
.txt-button-dense {
  font-size: $txt-size-button-dense;
  font-weight: $txt-weight-button-dense;
  text-transform: $txt-transform-button;
}
.txt-button-tall {
  font-size: $txt-size-button-tall;
  font-weight: $txt-weight-button-tall;
  text-transform: $txt-transform-button;
}
.txt-app-bar-title {
  font-size: $txt-size-app-bar-title;
  font-weight: $txt-weight-app-bar-title;
}
.txt-app-bar-title dark {
  color: $txt-color-app-bar-title-dark;
}
.txt-app-bar-title light {
  color: $txt-color-app-bar-title-light;
}
.txt-app-bar-subtitle {
  font-size: $txt-size-app-bar-subtitle;
  font-weight: $txt-weight-app-bar-subtitle;
}
.txt-app-bar-subtitle dark {
  color: $txt-color-app-bar-subtitle-dark;
}
.txt-app-bar-subtitle light {
  color: $txt-color-app-bar-subtitle-light;
}
