@import 'material/material-theme';
@import 'full-lambda-colors';
body {
  background: $color-dark;
}
button { 
  @extend .txt-button-english;
  padding: 0;
  margin: 0;
  color: $color-accent;
  background: rgba(0,0,0,0);
  border: 0;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
button:focus {
  outline-color: $color-accent;
}