@import "../theme/full-lambda-dimens";
.weather-page {
 display: flex; 
 flex-direction: row;
 flex-wrap: wrap;
}
.monitoring-container {
  flex-grow: 1;
  flex-shrink: 1;
}
.sidebar {
  flex-basis: 300px;
}
.page-heading {
  width: 100%;
} 
.title-section {
  padding-left: $layout-padding-lg;
  padding-right: $layout-padding-lg;
  padding-top: $layout-padding-lg;
}