@import '../constants/layout-constants';
.pad-sm {
  padding: $layout-padding-sm;
}
.pad-sm-h {
  padding-right: $layout-padding-sm;
  padding-left: $layout-padding-sm;
}
.pad-sm-v {
  padding-top: $layout-padding-sm;
  padding-bottom: $layout-padding-sm;
}
.pad-md {
  padding: $layout-padding-md;
}
.pad-md-h {
  padding-right: $layout-padding-md;
  padding-left: $layout-padding-md;
}
.pad-md-v {
  padding-top: $layout-padding-md;
  padding-bottom: $layout-padding-md;
}
.pad-lg {
  padding: $layout-padding-lg;
}
.pad-lg-h {
  padding-right: $layout-padding-lg;
  padding-left: $layout-padding-lg;
}
.pad-lg-v {
  padding-top: $layout-padding-lg;
  padding-bottom: $layout-padding-lg;
}
.pad-item-list {
  padding-top: $item-list-padding-v;
  padding-bottom: $item-list-padding-v;
  padding-left: $item-list-padding-h;
  padding-right: $item-list-padding-h;
}