@import "../constants/colors";
.ripple {
  cursor: pointer;
  background: rgba(0,0,0,0);
  transition: background 1s;
}
.ripple:hover {
  background: $scrim-dark-1;
}
.ripple:active {
  background: $scrim-dark-4;
  transition: background 0.5s;
}
.selected {
  background: $scrim-dark-2;
}
.selected:hover {
  background: $scrim-dark-3;
}
.card {
  box-shadow: 0,3px,3px,3px,$shadow-dark; 
  width: 200px;
  height: 200px;
}