$divider-dark: rgba(0,0,0,0.12);
$divider-light: rgba(255,255,255,0.12);
$shadow-dark: rgba(0,0,0,0.3);
$shadow-light: rgba(0,0,0,0.5);
$scrim-dark-4: rgba(0,0,0,0.22); // Guess work
$scrim-dark-3: rgba(0,0,0,0.16); // Guess work
$scrim-dark-1: rgba(0,0,0,0.05); // Guess work
$scrim-dark-2: rgba(0,0,0,0.14); // Guess work
$background-1-light: #FFFFFF;
$background-2-light: #FAFAFA;
$background-3-light: #F5F5F5;
$background-4-light: #E0E0E0;