$layout-padding-sm: 4px;
$layout-padding-md: 8px;
$layout-padding-lg: 16px;
$layout-padding-xl: 24px;

$app-bar-padding: $layout-padding-xl;
$item-list-padding-h: $layout-padding-xl;
$item-list-padding-v: $layout-padding-md;