@import '../theme/full-lambda-dimens';
$column-count: 4;
$monitoring-list-gap: $layout-padding-lg;
.monitoring-list {
  display: grid;
  grid-template-columns: repeat($column-count, 33%);
  grid-gap: $monitoring-list-gap;
} 
