@import '../theme/full-lambda-dimens';
$column-count: 3;
$monitoring-list-gap: $layout-padding-lg;
.monitoring-list {
  display: grid;
  grid-template-columns: repeat($column-count, 1fr);
  grid-gap: $monitoring-list-gap;
}