@import '../theme/full-lambda-colors';
@import '../theme/full-lambda-dimens';
.worded-measurements {
  padding-right: $layout-padding-lg;
  padding-left: $layout-padding-lg;
  padding-top: $layout-padding-lg;
}
.graph-container {
  padding-left: $layout-padding-lg;
  padding-right: $layout-padding-lg;
  padding-top: $layout-padding-lg; 
  min-height: 152px;
}
.buttons {
  display: flex;
  flex-direction: row;
  padding-bottom: $layout-padding-md;
  justify-content: flex-end;
}
