@import '../theme/full-lambda-dimens';
$monitoring-list-gap: $layout-padding-lg;
.monitoring-list {
  display: grid;
  grid-gap: $monitoring-list-gap;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 872px){
  .monitoring-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1182px){
  .monitoring-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
