@import 'constants/text-constants';
@import 'classes/text-classes';
@import 'classes/layout-classes';
@import 'classes/misc-classes';
* {
  font-family: Roboto, sans-serif;
  font-weight: $txt-weight-regular;
  color: $txt-color-primary-dark;
  margin: 0;
  padding: 0;
}

strong {
  font-weight: $txt-weight-medium;
}